<div class="container-fluid col-lg-5 mt-5">
  <div class="row">
    <div class="row text-center">
      <h2>Sign Up</h2>
    </div>
    <hr />
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row mb-3">
        <div class="col">
          <div class="form-floating">
            <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="First Name"
              class="form-control" />
            <label class="form-label" for="firstName">First Name</label>
            <!-- Validation For First Name -->
            <ng-container *ngIf="
                signUpForm.get('firstName').invalid &&
                (signUpForm.get('firstName').dirty ||
                  signUpForm.get('firstName').touched)
              " class="alert alert-danger">
              <p class="text-danger px-2" *ngIf="signUpForm.get('firstName').errors.required">
                First Name is required.
              </p>
              <p class="text-danger px-2" *ngIf="signUpForm.get('firstName').errors.minlength">
                First Name cannot be more than 30 characters long.
              </p>
              <p class="text-danger px-2" *ngIf="signUpForm.get('firstName').errors.minlength">
                First Name must be at least 2 characters long.
              </p>
              <p class="text-danger px-2" *ngIf="signUpForm.get('firstName').errors.pattern">
                Only characters allowed.
              </p>
            </ng-container>
          </div>
        </div>

        <div class="col">
          <div class="form-floating">
            <input formControlName="lastName" type="text" id="lastName" class="form-control" placeholder="Last Name"
              class="form-control" />
            <label class="form-label" for="lastName">Last Name</label>
            <ng-container *ngIf="
                signUpForm.get('lastName').invalid &&
                (signUpForm.get('lastName').dirty ||
                  signUpForm.get('lastName').touched)
              " class="alert alert-danger">
              <p class="text-danger px-2" *ngIf="signUpForm.get('lastName').errors.required">
                Last Name is required.
              </p>
              <p class="text-danger px-2" *ngIf="signUpForm.get('lastName').errors.minlength">
                Last Name cannot be more than 30 characters long.
              </p>
              <p class="text-danger px-2" *ngIf="signUpForm.get('lastName').errors.minlength">
                Last Name must be at least 2 characters long.
              </p>
              <p class="text-danger px-2" *ngIf="signUpForm.get('lastName').errors.pattern">
                Only characters allowed.
              </p>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Email input -->
      <div class="form-floating mb-3">
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email address"
          class="form-control" />
        <label for="email">Email address</label>
        <div *ngIf="
            signUpForm.get('email').invalid &&
            (signUpForm.get('email').dirty || signUpForm.get('email').touched)
          " class="alert alert-danger">
          <div *ngIf="signUpForm.get('email').errors.required">
            Email is required.
          </div>
          <div *ngIf="signUpForm.get('email').errors.minlength">
            Email cannot be more than 30 characters long.
          </div>
          <div *ngIf="signUpForm.get('email').errors.minlength">
            Email must be at least 2 characters long.
          </div>
        </div>
      </div>

      <!-- Password input -->
      <div class="form-floating mb-3">
        <input formControlName="password" type="password" id="password" class="form-control" placeholder="Password"
          class="form-control" />
        <label class="form-label" for="password">Password</label>
        <div *ngIf="
            signUpForm.get('password').invalid &&
            (signUpForm.get('password').dirty ||
              signUpForm.get('password').touched)
          " class="alert alert-danger">
          <div *ngIf="signUpForm.get('password').errors.required">
            Password is required.
          </div>
          <div *ngIf="signUpForm.get('password').errors.minlength">
            Password cannot be more than 30 characters long.
          </div>
          <div *ngIf="signUpForm.get('password').errors.minlength">
            Password must be at least 2 characters long.
          </div>
        </div>
      </div>

      <!-- Confirm Password input -->
      <div class="form-floating mb-3">
        <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm Password"
          class="form-control" />
        <label class="form-label" for="confirmPassword">Confirm Password</label>
        <div *ngIf="
            signUpForm.get('confirmPassword').invalid &&
            (signUpForm.get('confirmPassword').dirty ||
              signUpForm.get('confirmPassword').touched)
          " class="alert alert-danger">
          <div *ngIf="signUpForm.get('confirmPassword').errors.required">
            Confirm Password is required.
          </div>
          <div *ngIf="signUpForm.get('confirmPassword').errors.minlength">
            Confirm Password cannot be more than 30 characters long.
          </div>
          <div *ngIf="signUpForm.get('confirmPassword').errors.minlength">
            Confirm Password must be at least 2 characters long.
          </div>
          <!-- <div *ngIf="signUpForm.getconfirmPassword.errors.mustMatch">
            Passwords must match
          </div> -->
        </div>
      </div>

      <!-- Country input -->
      <div class="form-floating mb-3">
        <select formControlName="country" name="country" id="country" class="form-select">
          <option value="" disabled selected>Select Country</option>
          <option *ngFor="let option of options" [value]="option">{{option}}</option>
        </select>
        <label class="form-label" for="country">Country</label>
        <ng-container *ngIf="
            signUpForm.get('country').invalid &&
            (signUpForm.get('country').dirty ||
            signUpForm.get('country').touched)
          " >
          <p class="text-danger px-2" *ngIf="signUpForm.get('country').errors.required">
            country is required.
          </p>
        </ng-container>
        <!-- <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
          <div *ngIf="f.country.errors.required">Password is required</div>
          <div *ngIf="f.country.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div> -->
      </div>

      <!-- Submit button -->
      <div class="text-center">
        <button class="btn btn-primary pr-4" type="submit">Sign Up</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">
          Cancel
        </button>
      </div>

      <div class="text-center mt-4">
        <a routerLink="/login">Already Signup? Login</a>
      </div>
    </form>
  </div>
</div>